@page "/"
@using WebApp.Shared
@using WebApp.Shared.Models
@inject HttpClient Http
@inject ILogger<WebApp.Client.Pages.Index> logger


@*
<EditForm Model="@empObj" OnValidSubmit="AddNew">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="dept" class="form-label">Department</label>
        <InputSelect id="dept" class="form-select" @bind-Value="empObj.DepartmentId">
            <option value="0">-Department-</option>
            <option value="1">Dep1</option>
            <option value="2">Dep2</option>
            <option value="3">Dep3</option>
        </InputSelect>
        <ValidationMessage For="@(()=>empObj.DepartmentId)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label for="fname" class="form-label">First Name</label>
        <InputText id="fname" class="form-control" autofocus @bind-Value="empObj.FirstName" />
        <ValidationMessage For="@(()=>empObj.FirstName)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label for="lname" class="form-label">Last Name</label>
        <InputText id="lname" class="form-control" autofocus @bind-Value="empObj.LastName" />
        <ValidationMessage For="@(()=>empObj.LastName)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label for="gender" class="form-label">Gender</label>
        <InputSelect id="gender" class="form-select" @bind-Value="empObj.Gender">
            <option value="0">-Gender-</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </InputSelect>
        <ValidationMessage For="@(()=>empObj.Gender)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label for="dob" class="form-label">Date of Birth</label>
        <InputDate id="dob" class="form-control" @bind-Value="empObj.DateOfBirth" />       
        <ValidationMessage For="@(()=>empObj.DateOfBirth)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label for="mobile" class="form-label">Mobile Number</label>
        <InputDate id="mobile" class="form-control" @bind-Value="empObj.MobileNumber" />
        <ValidationMessage For="@(()=>empObj.MobileNumber)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email Id</label>
        <InputDate id="email" class="form-control" @bind-Value="empObj.EmailId" />
        <ValidationMessage For="@(()=>empObj.EmailId)" class="text-danger" />
    </div>

    <button type="submit" class="btn btn-sm btn-success">Add New</button>
</EditForm>*@

@code {
    //private Employee empObj = new() {EmployeeId=0, DateOfBirth = DateTime.Now };
    //protected async Task AddNew()
    //{
    //        logger.LogInformation("click add button");
    //        //var addItem = new Employee { DateOfBirth = DateTime.Now.AddYears(-21), DepartmentId = 1, EmailId = "abc1@gmail.com", EmployeeId = 0, FirstName = "Test", LastName = "Name", Gender = "Male", MobileNumber = "8182823388" };
    //        await Http.PostAsJsonAsync("emp", empObj);
    //}
}
